
<div class="row first-block">
   <div class="col-md-6">
      <h1>Contact me</h1>
      <p>Here you can contact me and i'll get back to you as soon as i can.</p>
   </div>
   <div class="col-md-6">
      <form>      
         <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" name="name" placeholder="Name">
         </div>
         <div class="form-group">
            <label>Email *</label>
            <input class="form-control" type="text" name="email" placeholder="Email" required minlength="4">
         </div>
         <div class="form-group">
            <textarea class="form-control" name="" cols="30" rows="10"></textarea>
            <button class="btn btn-success">Send</button>
         </div>
      </form>
   </div>
</div>
