<div class="row about black first-block">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper">
        <h1>What about Kristofer</h1>
        <p>After years of searching, I finally found what I believe is the meaning of life, learning and growing!<br>
           It´s amazing to get to learn new things and what could be better than having a job that lets me do so every day! The web is changing at high speed and that drives me to constantly stay on my toes to keep up.</p>
            
        <p>For many years I focused on creating web pages for smaller companies using css/sass and html and it gave me a good understanding of those languages. It was a great feeling to be able to create good looking and user friendly web pages for my clients and put smiles on their faces! During this time I also created an App for a construction company that had me using more PHP, Laravel and SQL and that sparked my interest in learning more about that side of development. I started taking some courses and that’s when a stumbled across Node.js and realised how fun Javascript can be! </p>
        <p>Two years later I have vastly increased my JavaScript skills and I have a lot more knowledge about the most popular JavaScript frameworks and libraries such as Angular, React, Node, Mongodb and SQL.</p>

        <p>I’m looking forward to continuing to learn and grow and I’m not afraid to dig down to find the best way to give my clients what they need. So, how can I help You?</p>
      </div>
    </div>
  </div>
</div>
