<div class="row about black first-block">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper">
        <h1>Lorem ipsum</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at
          risus fermentum, tincidunt nisl at, laoreet risus. Vivamus condimentum
          pulvinar turpis, et tincidunt diam condimentum eget. Nulla ornare nunc
          vitae elit commodo, id auctor ligula interdum. Maecenas at ante
          mauris. Morbi in sapien lorem. Nulla dictum urna a convallis sodales.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis
          purus vitae mi sagittis porttitor. Donec sit amet nisi eget massa
          tempus auctor. Curabitur eget mi in urna ultricies blandit sed sit
          amet mauris.
        </p>
        <p>
          Praesent libero tortor, auctor ut diam at, luctus efficitur libero. In
          iaculis hendrerit rhoncus. Quisque maximus, elit vitae laoreet dictum,
          enim neque pellentesque urna, in lacinia turpis ipsum quis leo. Proin
          sit amet lobortis mauris. Cras ac augue sit amet nulla fringilla
          convallis. Vivamus pulvinar elit non metus varius, sed viverra nulla
          consequat. Suspendisse ut purus at est suscipit faucibus. Sed in
          mattis risus, quis aliquet sapien. Sed ac varius diam, ac maximus
          massa. Pellentesque sit amet ex vitae enim auctor tempus.
        </p>
        <p>
          Proin in eros interdum, lobortis lectus rhoncus, pretium elit. Nunc at
          felis nibh. Vivamus ac mauris nec arcu tincidunt placerat in et
          sapien. Duis eu consectetur dui. Quisque suscipit eleifend massa
          facilisis finibus. Fusce et volutpat elit. Maecenas vitae diam sed
          purus lobortis imperdiet at egestas eros. Aenean lobortis semper
          placerat. In eu nulla sit amet mauris iaculis convallis. Sed vitae
          convallis risus, mollis porttitor felis. In vestibulum velit tortor,
          ut vehicula lectus iaculis eget. Vestibulum porttitor arcu non mi
          luctus tincidunt.
        </p>
      </div>
    </div>
  </div>
</div>
