<div class="row about black first-block">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper">
        <h1>What about Kristofer</h1>
        <p>After many years of searching Kristofer found his meaning in life, living is to learn!<br>
        It's amazing to get to learn new things and what can be better then finding a job that constantly let's you do so.
        The webb is developing at an high speed and that makes you constantly have to stay on your toes and learn new things to keep up to date.</p>

        <p>I have been writing code for the last 6 years both good and bad and I have been learning alot, 
          perhaps mostly from my bad code but that dosent freighten me, when you want to improve you have to dig down and question your code and use the frase "Why", I do that quite alot.<br>
          I belive that is what have taken me to where i am today where I can take on building full stack apps.<br>
          Of course like many other coders I propobly have a masters in googling, google is a great library of other coders mistake's and also their success that you can learn from.<br>
          But i belive it is very important that you try and solve your own problems as well, even if you dont succed thats how you learn alot about how things work and why it's not working.</p>

        <p>For several years I wrote css/sass and html for webbpages of smaller companies, it gave me a good understanding of those languages and it was great to create good looking pages that made your clients smile. But during this time I also did an App for a Construction company, that had me learning more php and laravel, sql and that got me curious about this side of development so I started taking courses and that's when i stumbled upon Node.js and noticed how amazing javascript can be.</p>
        <p>Now two years later I am sitting here with vastly increased javascript skills and more knowledge about the most popular javascript frameworks and libraries such as Angular, React, Vue and on the backend side Node, mongodb and Sql.</p>
      </div>
    </div>
  </div>
</div>
