<div class="row projects black first-block">
  <div class="row">
    <div class="col-md-6">
      <div class="wrapper">
        <form action="">
          <select (change)="onChange($event.target.value)">
            <option selected="selected">View my projects</option>
            <option *ngFor="let project of projects">{{ project }}</option>
          </select>
        </form>
        <div *ngIf="data.language">
          <div class="languages">
            <h2 *ngFor="let lang of data.language">
              {{ lang }}
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="wrapper" *ngIf="data">
        <h1>{{ data.title }}</h1>
        <p>{{ data.textOne }}</p>
        <p>
          {{ data.textTwo }}{{ data.textThree }}{{ data.textFour
          }}{{ data.textFive }}
        </p>
        <p>
          {{ data.textSix }}
        </p>
        <h3 *ngIf="data.github">
          Link for
          <a target="_blank" *ngIf="data.github" href="{{ data.github }}"
            >Github</a
          >
        </h3>
      </div>
    </div>
  </div>
</div>
