<div class="row profile black first-block">
  <div class="col-md-6">
    <img src="assets/img/man1-540x640.jpg" alt="Portrait of Kristofer" />
  </div>
  <div class="col-md-6">
    <div class="wrapper">
      <h1>Kristofer Stensson</h1>
      <h2>Webbdeveloper</h2>
      <p>I write code and smash bugs for fun.</p>
      <br />
      <a href="https://github.com/KristoferDev">Github KristoferDev</a>
      <br />
      <a href="https://www.linkedin.com/in/kristofer-stensson/">Linkedin</a>
    </div>
  </div>
</div>
