<div class="row profile black first-block">
  <div class="col-md-6">
    <img src="assets/img/jkmblack4.jpg" alt="A place holder image" />
  </div>
  <div class="col-md-6">
    <div class="wrapper">
      <h1>Kristofer Stensson</h1>
      <h2>Web Developer</h2>
      <p>I write code and smash bugs for fun.</p>
      <br />
      <p>
        My 
        <a target="_blank" href="https://github.com/KristoferDev">Github</a>
      </p>
      <p>
        My 
        <a target="_blank" href="https://www.linkedin.com/in/kristofer-stensson/">Linkedin</a>
      </p>
    </div>
  </div>
</div>
